{% extends "base.html" %}
{% block content %}
<section class="page-section">
    <h1>About Riget Zoo</h1>
    <p>Riget Zoo is dedicated to unforgettable experiences.</p>

    <section class="cards-row">
    <div class="info-card">
        <h2>Opening hours</h2>
        <p>Mon - Fri 10:00 - 20:00</p>
        <p>Weekends 8:00 - 18:00</p>   
    </div>
    <div class="info-card">
        <h2>Food and drink</h2>
        <p>Enjoy delicious sandwiches, pizzas and ice cream from our food and drink vendors around the site. </p>
    </div>
    <div class="info-card">
        <h2>Login to your account</h2>
        <p>Your login will help you manage your tickets and bookings.</p>
    </div>
    
    <br>
    </section>
    <h1>Contact us for more information.</h1>
    <p>info@rigetzoo.com</p>
    <p>07261793664</p>

{% endblock %}

