<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>
<html>
<head>



{% block head %}

<title>{% block title %}{% endblock %} - My Application</title>

{% endblock %}

</head>
<body>
<div class="topnav">
  <a class="#active" href="/">Home</a>
  <a href="about">About us</a>
  <a href="hotel">Hotel</a>
  <a href="login">Login</a>
  <a href="signup">Sign up</a>
  <a href="tickets.html">Tickets</a>

</div>
{% block body %}
{% endblock %}

</body>
</html>
